@import url('https://fonts.googleapis.com/css?family=Acme|Shadows+Into+Light"');

$color-powder-blue: #C4D4E0;
$color-nantucket: #9aabb9;
$color-apricot: #e2b49a;
$color-jasmine: #e9c77b;
$color-ink: #193446;

$color-error: #ff0000;
$color-success: #77ff7a;

$color-white: #fff;
$color-black: #000;

$color-lightgrey: #B5BAC3;
$color-grey: #7A7D84;
$color-darkgrey: #6E7177;

$modal-color: #e9c77b;
$modal-background: #193446;

$pad: 0.5em;

$acme-font: 'Acme', sans-serif;
$shadow-font: 'Shadows Into Light', cursive;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Mono', monospace;

$bg-texture: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");